<%= content_tag(:h1, "Create New Student")%>
<%= form_with model: Student.new do | f | %>
    <div>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, required: true %>
    </div>

    <div>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, required: true %>
    </div>

     <div>
        <%= f.label :date_of_birth %>
        <%= f.date_field :date_of_birth %>
    </div>

     <div>
        <%= f.label :phone_number %>
        <%= f.phone_field :phone_number, required: true %>
    </div>

     <div>
        <%= f.label :email %>
        <%= f.email_field :email, required: true %>
    </div>

     <div>
        <%= f.label :notes %>
        <%= f.text_area :misc_notes %>
    </div>

     <div>
        <%= f.label :billing_information %>
        <%= f.text_area :billing_notes %>
    </div>

    <%= f.submit %>

<% end %>