<%= content_tag(:h1, @student.full_name) %>
<%= content_tag(:p, "Date of Birth: #{@student.date_of_birth}")%>
<%= content_tag(:p, "Phone Number: #{@student.phone_number}")%>
<%= content_tag(:p, "Email: #{@student.email}")%>
<%= content_tag(:p, "Notes: #{@student.misc_notes}")%>
<%= content_tag(:p, "Billing Information: #{@student.billing_notes}")%>
<%= link_to("Edit this student", edit_student_path(@student)) %><br>
<%= link_to("Return to Index", students_path) %>

<ul>
    <% @student.lessons.each do |lesson| %>
        <li>
            <%= "#{lesson.availability.day} #{lesson.availability.start_time} to #{lesson.availability.end_time}" %>
            <%= link_to "Edit Lesson", edit_lesson_path(lesson) %>
        </li>
        <ul>
            <li>Active: <%= lesson.active.to_s.capitalize %>
            <li>Instructor: <%= lesson.availability.instructor.full_name %></li>
            <li>Instrument: <%= lesson.instrument %></li>
            <li>Price per month: $<%= lesson.price_of_lesson %></li>
            <li>Created by: <%= lesson.user %></li>
            <li>Lesson Notes: <%= lesson.misc_notes %></li>
        </ul>
    <% end %>
</ul>