<%= content_tag(:h1, @student.full_name) %>
<%= content_tag(:p, "Date of Birth: #{@student.date_of_birth}")%>
<%= content_tag(:p, "Phone Number: #{@student.phone_number}")%>
<%= content_tag(:p, "Email: #{@student.email}")%>
<%= content_tag(:p, "Notes: #{@student.misc_notes}")%>
<%= content_tag(:p, "Billing Information: #{@student.billing_notes}")%>
<%= link_to("Edit this student", edit_student_path(@student)) %><br>
<%= link_to("Return to Index", students_path) %>

<ul>
    <% @student.lessons.each do |lesson| %>
        <li><%= "#{lesson.day} #{lesson.start_time} to #{lesson.end_time}" %></li>
    <% end %>
</ul>
