<style>

.main {
    text-align: center;
    background-color: #00000060;
}
ul {
    margin-left:0px;
}

</style>







<div class="main">
    <div class="student_info">
        <%= content_tag(:h1, @student.full_name) %>
        <%= content_tag(:p, "Date of Birth: #{@student.date_of_birth}")%>
        <%= content_tag(:p, "Phone Number: #{number_to_phone(@student.phone_number)}")%>
        <%= content_tag(:p, "Email: #{@student.email}")%>
        <%= content_tag(:p, "Notes: #{@student.misc_notes}")%>
        <%= content_tag(:p, "Billing Information: #{@student.billing_notes}")%>
        <%= link_to("Edit this student", edit_student_path(@student)) %><br>
        <%= link_to("Return to Index", students_path) %>
    </div>

<h3>Current Lessons</h3>
<ul>
    <% @student.lessons.each do |lesson| %>
        <% if lesson.active %>
            <li>
                <%= "#{lesson.availability.day} #{lesson.availability.start_time} to #{lesson.availability.end_time}" %>
                <% if session[:admin_id] %>
                    <%= content_tag(:button, "Edit Lesson", type:"button", onclick:"location.href = '/lessons/#{lesson.id}/edit';", class:"btn btn-info") %>
                <% end %>
            </li>
                <li>Instructor: <%= lesson.availability.instructor.full_name %></li>
                    <li>Instructor: <%= lesson.availability.instructor.full_name %></li>
                        <%= "#{lesson.availability.day} #{lesson.availability.start_time} to #{lesson.availability.end_time}" %>
                        <%= link_to "Edit Lesson", edit_lesson_path(lesson) %>                   
                            <li>Instructor: <%= lesson.availability.instructor.full_name %></li>
                                <li>Phone number: <%= number_to_phone(lesson.availability.instructor.phone_number) %></li>
                                <li>Email: <%= lesson.availability.instructor.email %></li>
                            <li>Instrument: <%= lesson.instrument %></li>
                            <li>Price per month: $<%= lesson.price_of_lesson %></li>
                            <li>Created by: <%= lesson.user %></li>
                            <li>Lesson Notes: <%= lesson.misc_notes %></li>
                <% end %>
            <% end %>
    </div>
<br>
<h3>Archived Lessons</h3>
<ul>
    <% @student.lessons.each do |lesson| %>
        <% if !lesson.active %>
            <li>
                <%= "#{lesson.availability.day} #{lesson.availability.start_time} to #{lesson.availability.end_time}" %>
                <%= link_to "Edit Lesson", edit_lesson_path(lesson) %>
            </li>
            <ul>
                <li>Instructor: <%= lesson.availability.instructor.full_name %></li>
                <ul>
                    <li>Phone number: <%= number_to_phone(lesson.availability.instructor.phone_number) %></li>
                    <li>Email: <%= lesson.availability.instructor.email %></li>
                </ul>
                <li>Instrument: <%= lesson.instrument %></li>
                <li>Price per month: $<%= lesson.price_of_lesson %></li>
                <li>Archived by: <%= lesson.user %></li>
                <li>Lesson Notes: <%= lesson.misc_notes %></li>
            </ul>
        <% end %>
    <% end %>
</ul>
</div>

