<%= content_tag(:h1, "Edit #{@instructor.full_name}")%>
<%= form_with model: @instructor do | f | %>
    <div>
        <%= f.label :first_name%>
        <%= f.text_field :first_name%>
    </div>

    <div>
        <%= f.label :last_name%>
        <%= f.text_field :last_name%>
    </div>

     <div>
        <%= f.label :date_of_birth%>
        <%= f.text_field :date_of_birth%>
    </div>

     <div>
        <%= f.label :phone_number%>
        <%= f.text_field :phone_number%>
    </div>

     <div>
        <%= f.label :email%>
        <%= f.text_field :email%>
    </div>

     <div>
        <%= f.label :instruments %>
        <%= f.text_area :instruments %>
    </div>

     <div>
        <%= f.label :pay_rate %>
        <%= f.text_area :pay_rate %>
    </div>

    <div>
        <%= f.label :misc_notes %>
        <%= f.text_area :misc_notes %>
    </div>

    <div>
        <%= f.label :active %>
        <%= f.text_area :status %>
    </div>
    <%= f.submit %>

<% end %>

<%= link_to "Delete", @instructor, method: :delete, data: { confirm: "Are you sure you want to delete this instructor?" } %>
<%= link_to "Back", instructor_path(@instructor) %>
