<style>
.main {
    text-align: center;
    background-color: #00000060;
}


</style>




<div class="main">
<h1>Instructors</h1>
<%= link_to("Create new instructor", new_instructor_path) %><br>

<ul>
    <% @instructors.each do |instructor| %>
        <% if instructor.active == true || flash[:full_index] %>
            <li>
            <%= link_to "#{instructor.full_name}", instructor_path(instructor)%>
            <%=": #{number_to_phone(instructor.phone_number)}, #{instructor.email}"%>
            <% if flash[:full_index] %>
                <ul><%= content_tag(:li, "Active: "+instructor.active.to_s.upcase)%></ul>
            <% end %>
            </li>
        <% end %>
    <% end %>
</ul>

<div class="bottom-bar">
<% if flash[:full_index] %>
    <%= content_tag(:button, "Show Active Instructors", type:"button", onclick:"location.href = '/instructors';", class:"btn btn-info change-list") %>
<% else %>
    <%= content_tag(:button, "Show All Instructors", type:"button", onclick:"location.href = '/instructors/all';", class:"btn btn-info change-list") %>
<% end %>
</div>
</div>