<% if flash[:full_index] %>
    <h1 class="page-title">Archived Lessons</h1>
<% else %>
    <h1 class="page-title">Lessons</h1>
<% end %>

<div class="lessons container-fluid row">
<% if flash[:full_index] %>
    <ul>
        <% @lessons.each do |each_lesson| %>
            <% if !each_lesson.active %>
                <li><%= "#{each_lesson.availability.day} #{each_lesson.availability.start_time}-#{each_lesson.availability.end_time}" %></li>
                    <ul>
                        <li>Instructor: <%= link_to each_lesson.availability.instructor.full_name, instructor_path(each_lesson.availability.instructor) %></li>
                        <li>Student: <%= link_to each_lesson.student.full_name, student_path(each_lesson.student) %></li>
                        <li>Instrument: <%= each_lesson.instrument %>
                    </ul>
            <% end %>
        <% end %>
    </ul>  
<% else %>

    <% @instructors.each do |instructor| %>
        <% if instructor.active %>

            <div class="col-md-3">
            <%= content_tag(:button, instructor.full_name, type:"button", onclick:"location.href = '/instructors/#{instructor.id}';", class:"btn btn-info") %>
            <% instructor.availabilities.each do |availability| %>
                <% if availability.lessons.count != 0 && availability.active %>
                    <li class="classtime"><%= "#{availability.day}: #{availability.start_time} to #{availability.end_time}"%>
                        <ul>
                            <% availability.lessons.each do |lesson|%>
                                <% if lesson.active %>
                                    <li>
                                        <%= link_to lesson.student.full_name, student_path(lesson.student)%>
                                        <%= "-#{lesson.instrument}" %>
                                    </li>
                                <% end %>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
            <% end %>
            </div>

        <% end %>
    <% end %>

<% end %>
</div>

<div class="bottom-bar">
<% if flash[:full_index] %>
    <%= content_tag(:button, "Show Active Lessons", type:"button", onclick:"location.href = '/lessons';", class:"btn btn-info change-list") %>
<% else %>
    <%= content_tag(:button, "Show Archived Lessons", type:"button", onclick:"location.href = '/lessons/all';", class:"btn btn-info change-list") %>
<% end %>
</div>