<h2><%= @lesson.day %></h2>
    <ul>
        <li>
            <%= @lesson.instrument %>
            <%= @lesson.start_time %>
            <%= @lesson.end_time %>
            <%= @lesson.price_of_lesson %>
            <%= @lesson.misc_notes %>
            <%= @lesson.user %>
            <%= @lesson.active %>
        </li>
    </ul>

<%= link_to "Back", student_path(@lesson.student_ids) %>