<style>

.main {
    text-align: center;
    background-color: #00000060;
}


</style>




<div class="main">
    <h1>Edit Availability</h1>
    <%= form_with model: @availability do |f| %>

        <div>
            <%= f.label :time %>
            <select name="availability[start_time]" >
                <% @start_times.count.times do |num| %>
                    <% if @start_times[num] == @availability.start_time %>
                        <%= content_tag(:option, "#{@start_times[num]} to #{@end_times[num]}", value: @start_times[num], selected: "selected") %>
                    <% else %>
                        <%= content_tag(:option, "#{@start_times[num]} to #{@end_times[num]}", value: @start_times[num]) %>
                    <% end %>
                <% end %>
            </select>
        </div>


        <div>
            <%= f.label :day %>
            <select name="availability[day]">
                <% @days.each do |each_day| %>
                    <% if each_day == @availability.day %>
                        <%= content_tag(:option, each_day, value: each_day, selected: "selected") %>
                    <% else %>
                        <%= content_tag(:option, each_day, value: each_day) %>
                    <% end %>
                <% end %>
            </select>
        </div>
        
        <div>
            <%= f.label :instructor %>    
            <%= collection_select :availability, :instructor_id, Instructor.all, :id, :full_name %>
        </div>

        <div>
            <%= f.label :status %>
            <%= f.select :active, [ ['Active', true], ['Inactive', false] ] %>
            <% if @availability.active %>
                <%= "(If the status of this availability is changed to inactive, all lessons associated with this availability will be archived)" %>
            <% end %>
        </div>


        <%= f.submit %>

    <% end %>

    <br>
    <%= link_to "Delete", @availability, method: :delete, data: { confirm: "Are you sure you want to delete this availability? Any lessons tied to this availability will also be deleted." } %>
    <br><br>
    <%= link_to "Return to Availability Page", availability_path(@availability)%>
</div>