<%= content_tag(:h1, "#{@instructor.full_name} Schedule") %>

<% if flash[:full_index] %>
    <%= link_to "Show Only Active Availabilities", "/instructors/#{@instructor.id}/availabilities" %>
<% else %>
    <%= link_to "Show All Availabilities", "/instructors/#{@instructor.id}/availabilities/all" %>
<% end %>
<br><%= link_to "Return to Instructor Page", instructor_path(@instructor)%>
<br><br>

<% @availabilities.each do |availability| %>

    <% if availability.active %>

        <li>
            <%= "#{availability.day}: #{availability.start_time} to #{availability.end_time}"%>
            <%= link_to "Show Page", availability_path(availability)%>
            <%= link_to "Deactivate Availability", "/availabilities/#{availability.id}/deactivate", data: { confirm: "Are you sure you want to deactivate this availability? All lessons associated with this availability will be archived." }%>
            <ol>
                <% availability.lessons.each do |lesson|%>
                    <% if lesson.active %>
                        <li><%= "#{lesson.student.full_name}-#{lesson.instrument}" %></li>
                    <% end %>
                <% end %>
            </ol>
        </li>

    <% elsif flash[:full_index] %>

        <li>
            <%= "#{availability.day}: #{availability.start_time} to #{availability.end_time}"%>
            <%= link_to "Show Page", availability_path(availability)%>
            INACTIVE
        </li>
        <br>

    <% end %>

<% end %>