<%= content_tag(:h1, "#{@availability.instructor.full_name} | #{@availability.day} #{@availability.start_time}-#{@availability.end_time}")%>

<ul>
    <% @availability.lessons.each do |lesson|%>
        <li>
            <%= link_to lesson.student.full_name, student_path(lesson.student) %>
            <%= "-#{lesson.instrument}" %>
            <%= link_to "Edit Lesson", edit_lesson_path(lesson) %>
        </li>

        <ul>
            <%= content_tag(:li, "Lesson created by '#{lesson.user}' on #{lesson.created_at}") %>
            <%= content_tag(:li, "Most recent update was on #{lesson.updated_at}") %>
            <%= content_tag(:li, "Notes: #{lesson.misc_notes}") %>
        </ul>
    <% end %>
</ul>