<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  body{
    background-image: url("http://blog.hostbaby.com/wp-content/uploads/2014/03/SeeingSpots_1920x1234.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  a{
    color: #ECA71C;
    text-shadow: none;
  }
  a:hover{
    color: black;
  }
  .btn-info:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: orange;
    color: teal;
  }
  .btn{
    padding:5px;
    background-color: #ECA71C;
    border: none;
  }
  .container-fluid{
    justify-content: flex-start;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .col-md-3{
    text-align: center;
    padding: 5px;
  }
  ul{
    list-style-type: none;
  }
  .classtime {
    background-color: #00000060;
    border-radius: 5%;
  }


  .nav-bar{
    color: white;
    display:flex;
    width: 100%;
    justify-content: space-between;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 0px;
    flex-wrap: nowrap;
    top: 0;
  }
  .main-title{
    margin-bottom: 0px;
  }
  .user-name{
    margin-bottom:0px;
  }
  .bottom-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .page-title{
    color: white;
    text-align: center;
  }
  .change-list{
    font-size:20px;
    padding: 2px;
    width: 100%;
  }

  /* The look of the dropdown button before hover*/
  .dropbtn {
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: orange
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: orange;
}
</style>

  <head>
    <title>Music School</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="nav-bar">

    <h4 class="main-title">
    current user:
    <% if session[:student_id] %>
            <%= Student.find(session[:student_id]).full_name%>
    <% elsif session[:instructor_id] %>
            <%= Instructor.find(session[:instructor_id]).full_name%>
    <% elsif session[:admin_id] %>
            <%= Admin.find(session[:admin_id]).full_name%>
    <% end %>
    </h4>
    <div>


      <div class="dropdown">
        <button class="dropbtn btn btn-info">Menu</button>
        <div class="dropdown-content">
          <% if session[:instructor_id] %>
              <%= content_tag(:a, "Schedule", href:"/instructors/#{session[:instructor_id]}/availabilities", class:"btn btn-info") %>
              <%= content_tag(:a, "Home", href:"/instructors/#{session[:instructor_id]}", class:"btn btn-info") %>
          <% elsif session[:admin_id] %>
              <%= content_tag(:a, "Home", href:"/lessons", class:"btn btn-info") %>
              <%= content_tag(:a, "Instructors", href:"/instructors", class:"btn btn-info") %>
              <%= content_tag(:a, "Students", href:"/students", class:"btn btn-info") %>
          <% end %>
            <%= content_tag(:a, "Logout", href:"/logout", class:"btn btn-info") %>
        </div>
      </div>

    <div class="dropdown menu" aria-labelledby="dropdownMenuButton">
        <% if session[:instructor_id] %>
            <%= content_tag(:a, "Schedule", href:"/instructors/#{session[:instructor_id]}/availabilities", class:"btn btn-info") %>
            <%= content_tag(:a, "Home", href:"/instructors/#{session[:instructor_id]}", class:"btn btn-info") %>
        <% elsif session[:admin_id] %>

        <% end %>
      
          <%= content_tag(:a, "Logout", href:"/logout", class:"btn btn-info") %>
    </div>

  </div>

    <%= yield %>
  
  </body>

</html>
